{% extends "base.html"%}


{% block title %} Home {% endblock %}
{% block content %}

<div class="container" style="max-width: 1000px">
    <div class="col-12">
      <h1 class="h2">{{ category.name| title}}</h1>
    </div>
    <div class="col-12">
      <p>Available <b> at </b> The moment</p>
    </div>
    <hr />
  </div>


  

<div class="album py-5 bg-light">
    <div class="container">
    <div class="pb-3 h5">{{category.name|title}} </div>
    {% if not products %}
    <div class="col-12">There are currently no products active <a href="">Home</a></div>
    {% else %}
     <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
        {% for product in products %}
        <div class='col'>
            <div class='card shadow-sm'>
            <img class='img-fluid' alt="Responsive image" src="{{product.image.url}}">
            <div class='card-body'>
                <p class="card-text">
                    <a class="text-dark text-decoartion-none" href="{% url "product_detail" product.slug %}">{{product.title}}</a>
                </p>
                <div class="fw-bold">{{product.price}}DH</div>
                <div class='d-flex justify-content-between align-items-center'>
        </div>
    </div>
 </div>
</div>
        {% endfor %}
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}